<div class="col-lg-2">
  <div class="well sidebar-nav">
    <h3>Links</h3>
    <ul class="nav nav-list">
      <li class="nav-header">
      {{#link-to 'index'}}Home{{/link-to}}
      </li>
      <li class="nav-header">
        {{#link-to 'shortcuts'}}Shortcuts{{/link-to}}
      </li>
      <li class="nav-header">
      </li>
      <li class="nav-header">
      </li>
    </ul>
  </div>
</div>
<div class="col-lg-10">
  {{outlet}}
</div>