<div class="row">
  <div class="col-md-7"><pre>{{title}}</pre></div>
  <div class="col-md-3"><pre><span class='kbd'>{{key}}</span></pre></div>
  <div class='col-md-2'>
    <!--<button {{action 'edit'}} class='btn btn-primary'>E</button>-->
    <button {{action 'destroy'}} class='btn btn-danger'>D</button>
  </div>
</div>